.table {
    tr{
        th {
            color: var(--primary-color);
        }
        td {
            color: var(--primary-color);
           img {
            width: 80px !important;
            height: 80px !important;
            object-fit: cover;
           } 

           i {
            cursor: pointer;
           }
        }
    }
}